.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  height: calc(100vh - 65px);
  padding: 0 30px;
  padding-top: 65px;
  gap: 20px;
  text-align: center;
}

.work_box {
  border: 2px solid #424242;
  width: 735px;
  margin-top: 30px;  
  background-color: #424242;
  margin: 2rem 0;
 
}

@media screen and (max-width: 735px) {
  .work_box {
      width: 300px;
    }  
}

.work_box p{
  text-align: justify;
  margin: 10px;
  padding: 20px;
  min-width: 200px;

}

.modal_confirmation{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 628px;
  height: 164px;
  border: 0;
  box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 0px 24px 38px 3px rgba(0,0,0,0.14), 0px 9px 46px 8px rgba(0,0,0,0.12);
  padding: 0px; 
}

.modal_confirmation:focus-visible {
  outline: 0;
}

.modal_content{
  background-color: #ff5252;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0.8em;
}

.modal_footer{
  background: black;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0.8em;
}

.modal_btn_confirm{
  background-color: vert;
  color: #ff5252;
}

.modal_btn_cancel{
  background-color: black;
  color: white;
}

.modal_btn_confirm:hover {
  color: #f78d8d;
}

.modal_btn_cancel:hover {
  color: rgb(200, 200, 200);
}

@media (max-width: 660px) {
  .modal_confirmation {
    width: 200px;
  }
}

